@font-face{
    src: url(/assets/css/fonts/Candyshop.ttf);
    font-family: "Candyshop"
}

body {
    background-image: url(/assets/im/CandyBackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-family: "Candyshop";
    font-size: 60px;
    color: rgb(235, 99, 235);
}

article {
    align-content: center;
    text-align: center;
}

#block-score {
    text-align: center;
    font-family: "Candyshop";
    font-size: 30px;
    color: white;
    margin: 20px;
}
#data-cookie-score {
    background-color: rgba(40, 40, 40, 50);
}

/* css du cookie a cliquer */
#data-cookie-im {
    height:300px ;
    width: 300px;
}
#cookie {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    margin-bottom: 40px;
}
.third-row {
    align-content: center;
    margin: 20px;
}


/* css du bouton reset */
#data-cookie-reset {
    font-size: 20px;
    background-color: blueviolet;
    font-family: "Candyshop";
    color: white;
    align-content: center;
    height: 80px;
    width: 160px;
    background-repeat:no-repeat;
    border: 2px solid white;
    border-radius: 50%;
    cursor:pointer;
    overflow: hidden;
    float: right;
    margin-bottom: 20px;
}

#data-cookie-reset:hover{
    background-color: green;;
}

aside {
    display: flex;
    align-content: center;
    text-align: center;
    clear: both;
}

h3 {
    text-align: center;
    font-family: "Candyshop";
    font-size: 50px;
    color: rgb(235, 99, 235);
    margin: 5px;

}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}


/* setup button */ 
.button {
    /*background-color: rgba(256, 149, 248, 70);*/
    background-image: url(/assets/im/btnbg.jpg);
    background-size: cover;
    border: 7px solid rgba(253, 111, 241, 45);
    border-radius: 20px;
    height: 125px;
    width: 240px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.button:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3)

}

.button:active:hover {
    background-color: rgba(253, 111, 241, 45);
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3)
}

button:disabled,
button[disabled]{
    background-image: url(/assets/im/btnbg.jpg);
    background-size: cover;
    border: 7px solid rgba(253, 111, 241, 45);
    border-radius: 20px;
    height: 120px;
    width: 240px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    filter: grayscale(100%);
}

.button:hover {
    transform: translateY(0px);

}

.btn-value {
    font-family: "Candyshop";
    color: white;
    font-size: 300%;
    font-weight: bolder;
}
#time1 #time2 #time3{
    font-family: "Candyshop";
    color: gray;
    font-style: italic;
    font-weight: bold;
}
#price1 #price2 #price3 {
    font-family: "Candyshop";
    color: gray;
    font-style: italic;
    font-weight: bold;
}

@media (max-width: 860px){
    .flex-container {
        display: flex;
        flex-direction: column;
    }  
}










/*
.container{
	top:0px;
	width:100%;
	height:100%;
	position:absolute;
	left:0%;
}
.loader {
    text-align: center;
}
.loader span {
    display: inline-block;
    width: 80px;
    height: 80px;
	margin: -280px 40px 54px  -34px;

    background: #ff0000;
    background:url("/assets/im/cookieIcon.png");
    background-position: center;
    background-size: cover;
    
    -webkit-animation: loader 10s infinite  linear;
    -moz-animation: loader 10s infinite  linear;
}
.loader span:nth-child(5n+5) {

    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}
.loader span:nth-child(3n+2) {

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}
.loader span:nth-child(2n+5) {

    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}

.loader span:nth-child(3n+10) {

    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
}
.loader span:nth-child(7n+2) {

    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
}
.loader span:nth-child(4n+5) {

    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
}
.loader span:nth-child(3n+7) {

    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
}
@-webkit-keyframes loader {
  0% {
    width: 80px;
    height: 80px;
    opacity: 1;

	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 80px;
    height: 80px;
    opacity: 1;

	-webkit-transform: translate(100px, 600px) rotateZ(270deg); 
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;

	-webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}
@-moz-keyframes loader {
  0% {
    width: 80px;
    height: 80px;
    opacity: 1;
    
	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 80px;
    height: 80px;
    opacity: 1;
   
	-webkit-transform: translate(100px, 600px) rotateZ(270deg); 
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;
    
	-webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}
*/ 


