body {
    background-image: url(assets/im/CandyBackground.jpg);
    background-position: contain;
    background-size: fill;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: white;
}

article {
    align-content: center;
    text-align: center;
}

#block-score {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    margin: 20px;
}
#data-cookie-score {
    background-color: rgba(40, 40, 40, 50);
}

/* css du cookie a cliquer */
#data-cookie-im {
    height:500px ;
    width: 500px;
}
#cookie {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}
.third-row {
    align-content: center;
    margin: 20px;
}


/* css du bouton reset */
#data-cookie-reset {
    font-size: 20px;
    background-color: blueviolet;
    color: white;
    align-content: center;
    height: 100px;
    width: 100px;
    background-repeat:no-repeat;
    border: 2px solid white;
    border-radius: 50%;
    cursor:pointer;
    overflow: hidden;
}

#data-cookie-reset:hover{
    background-color: green;;
}

aside {
    align-content: center;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}


/* setup button */ 
.button {
    background-color: red;
    border-radius: 20px;
    height: 60px;
    width: 100px;
    margin: 20px;
}

.button:hover {

}

.button:active:hover {
    background-color: green;
}



/* footer & credit */
footer{
    background-color: palevioletred;
    align-content: center;
    text-align: center;
}

@media (min-width: 600px){
  .flex-container {
    display: flex;
    flex-direction: column;
}  
}


