@font-face{
    src: url(../../assets/css/fonts/Candyshop.ttf);
    font-family: "Candyshop"
}

body {
    background-image: url(../../assets/im/CandyBackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-family: "Candyshop";
    font-size: 60px;
    color: rgb(231, 75, 140);
    margin-bottom: 5px;
}

article {
    align-content: center;
    text-align: center;
}

#block-score {
    text-align: center;
    font-family: "Candyshop";
    font-size: 30px;
    color: #ffffff;
    margin: 20px;
}

/*#block-score .tab {
    background-color: rgb(255, 184, 227);
    border: 7px solid rgb(167, 75, 156);
    border-radius: 20px;
    padding: 10px;
}*/


#data-cookie-score {
    background-color: transparent;
}

#data-cookie-im {
    height:300px ;
    width: 300px;
    padding: 20px; 
}

#cookie {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    border-radius: 50%;
    cursor:pointer;
    overflow: hidden;
    margin-bottom: 40px;
    outline: hidden;
    padding: 20px;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-name: spin;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-webkit-keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.third-row {
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

#data-cookie-reset {
    background-image: url(../../assets/im/icon/icons8-reset-100.png);
    background-color: transparent;
    background-position: center;
    background-size: fill;
    border: none;
    border-radius: 50%;
    align-content: center;
    height: 75px;
    width: 75px;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 9px rgb(216, 189, 181);
    align-content: center;
}

#data-cookie-reset:active{
    box-shadow: 0 5px rgb(189, 165, 158);
    transform: translateY(4px);
}

aside {
    display: flex;
    align-content: center;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: "Candyshop";
    font-size: 40px;
    color: rgb(231, 75, 140);
    margin: 5px;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}


/* setup button */ 
.button {
    background-image: url(../../assets/im/btnbg.jpg);
    background-position: center;
    background-size: cover;
    border: 7px solid rgba(253, 111, 241, 45);
    border-radius: 20px;
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 125px;
    width: 240px;
    margin: 20px;
    outline: hidden;
    box-shadow: 0 9px rgb(212, 97, 199);
}

.button:active {
    box-shadow: 0 5px rgb(167, 75, 156);
    transform: translateY(4px);
    color: rgb(150, 150, 150);
    font-style: italic;
    font-weight: bold;
}

button:disabled, button[disabled]{
    background-image: url(../../assets/im/btnbg.jpg);
    background-position: center;
    background-size: cover;
    border: 7px solid rgba(253, 111, 241, 45);
    border-radius: 20px;
    color: #969696;
    height: 125px;
    width: 240px;
    margin: 20px;
    outline: hidden;
    box-shadow: 0 9px rgb(114, 114, 114);
    filter: grayscale(100%);
}

.btn-value {
    font-family: "Candyshop";
    color: white;
    font-size: 300%;
    font-weight: bolder;
}

#time1 #time2 #time3{
    font-style: italic;
    font-weight: bold;
}



#price1 #price2 #price3 {
    font-style: italic;
    font-weight: bold;
}

footer span {
    height: 80px;;
}

h6 {
    text-align: center;
    font-family: "Candyshop";
    font-size: 20px;
    color: white;
    margin: 10px;
}

@media (max-width: 860px){
    .flex-container {
        display: flex;
        flex-direction: column;
    }  
}










/*
.container{
	top:0px;
	width:100%;
	height:100%;
	position:absolute;
	left:0%;
}
.loader {
    text-align: center;
}
.loader span {
    display: inline-block;
    width: 80px;
    height: 80px;
	margin: -280px 40px 54px  -34px;

    background: #ff0000;
    background:url("/assets/im/cookieIcon.png");
    background-position: center;
    background-size: cover;
    
    -webkit-animation: loader 10s infinite  linear;
    -moz-animation: loader 10s infinite  linear;
}
.loader span:nth-child(5n+5) {

    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}
.loader span:nth-child(3n+2) {

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}
.loader span:nth-child(2n+5) {

    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}

.loader span:nth-child(3n+10) {

    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
}
.loader span:nth-child(7n+2) {

    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
}
.loader span:nth-child(4n+5) {

    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
}
.loader span:nth-child(3n+7) {

    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
}
@-webkit-keyframes loader {
  0% {
    width: 80px;
    height: 80px;
    opacity: 1;

	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 80px;
    height: 80px;
    opacity: 1;

	-webkit-transform: translate(100px, 600px) rotateZ(270deg); 
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;

	-webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}
@-moz-keyframes loader {
  0% {
    width: 80px;
    height: 80px;
    opacity: 1;
    
	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 80px;
    height: 80px;
    opacity: 1;
   
	-webkit-transform: translate(100px, 600px) rotateZ(270deg); 
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;
    
	-webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}
*/


