body {
    background-image: url(/assets/im/CandyBackground.jpg);
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat, ;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: white;
}

article {
    align-content: center;
    text-align: center;
}

#block-score {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    margin: 20px;
}
#data-cookie-score {
    background-color: rgba(40, 40, 40, 50);
}

/* css du cookie a cliquer */
#data-cookie-im {
    height:300px ;
    width: 300px;
}
#cookie {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}
.third-row {
    align-content: center;
    margin: 20px;
}


/* css du bouton reset */
#data-cookie-reset {
    font-size: 20px;
    background-color: blueviolet;
    color: white;
    align-content: center;
    height: 80px;
    width: 80px;
    background-repeat:no-repeat;
    border: 2px solid white;
    border-radius: 50%;
    cursor:pointer;
    overflow: hidden;
}

#data-cookie-reset:hover{
    background-color: green;;
}

aside {
    display: flex;
    align-content: center;
    text-align: center;
    clear: both;
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}


/* setup button */ 
.button {
    background-color: rgba(256, 149, 248, 70);
    border: 7px solid rgba(253, 111, 241, 45);
    border-radius: 20px;
    height: 120px;
    width: 240px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    transition: 0.2s;
}

.button:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3)

}

.button:active:hover {
    background-color: rgba(253, 111, 241, 45);
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3)
}

.btn-value {
    color: white;
    font-size: 40px;
    font-weight: bolder;
}
#time1 #time2 #time3{
    color: gray;
    font-style: italic
}
.price{
    color: gray;
    font-style: italic
}

/* footer & credit */
footer{
    background-color: palevioletred;
    align-content: center;
    text-align: center;
}


/*
@media (min-width: 600px){
  .flex-container {
    display: flex;
    flex-direction: column;
}  

}

*/


